/* ===================
   CSS VARIABLES
   =================== */

@import url('https://fonts.googleapis.com/css2?family=Alice&family=Sacramento&display=swap');

:root {
  /* Font Size */
  --fs-500: 1.125rem; /* 18px */
  --fs-600: 1.25rem; /* 20px */
  --fs-900: 2rem; /* 32px */
  --fs-1100: 2.5rem; /* 40px */
  --fs-temp: 7.5rem; /* 120px */

  /* Font family */
  --ff-sacramento: 'Sacramento', cursive;
  --ff-alice: 'Alice', serif;

  /* Spaces */
  --space-10: 0.0625rem; /* 1px */
  --space-20: 0.125rem; /* 2px */
  --space-40: 0.25rem;
  --space-80: 0.5rem;
  --space-100: 0.625rem;
  --space-200: 0.75rem;
  --space-400: 1rem;
  --space-850: 1.875rem;
  --space-900: 2rem;
  --space-1100: 2.5rem;
  --space-1600: 3.75rem; /* 60px */
  --space-1700: 4rem; /* 64px */
  --space-2000: 4.75rem; /* 76px */

  /* Colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: #282828;
  --clr-red: hsl(359, 77%, 51%);
  --clr-blue: hsl(216, 88%, 65%);
  --clr-background-day: linear-gradient(
    to right,
    hsl(195, 86%, 64%),
    hsl(214, 84%, 56%)
  );
  --clr-background-night: linear-gradient(
    to right,
    hsl(218, 57%, 38%),
    hsl(219, 58%, 28%)
  );

  /* Utilities */
  --radius-1: 0.3125rem; /* 5px */
  --radius-2: 0.625rem; /* 10px */
  --radius-3: 3.125rem; /* 50px */
  --radius-circle: 50%;
  --shadow-1: 0px 3px 5px 0px hsla(0, 0%, 0%, 0.36);
  --shadow-3: 0px 3px 5px 0px hsla(0, 0%, 0%, 0.25);
  --img-bg: url('../assets/images/image-lake.jpg');
}

/* ===================
   JOSH COMEAU'S RESET 
   =================== */

/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Typographic tweaks! */
body {
  min-height: 100svh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* Remove markers from lists */
ul {
  list-style-type: none;
}

/* ===================
   END OF RESET 
   =================== */

/* Use grid for layout */
body {
  /* Default background image */
  background: var(--img-bg) center/cover no-repeat;
  padding: var(--space-400) var(--space-1100);
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header header'
    'main main'
    'footer footer';
  font-family: var(--ff-alice);
  min-height: 100vh;
  color: var(--clr-white);
}

/* Header styles */
.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block-end: 1px solid var(--clr-white);
}

.header__container {
  display: flex;
  align-items: center;
  gap: var(--space-400);
}

.header__logo {
  border-radius: var(--radius-circle);
  overflow: hidden;
}

.header__title {
  font-family: var(--ff-sacramento);
  padding-block-start: var(--space-100);
}

/* Navigation styles */
.nav {
  display: flex;
  align-items: center;
  gap: var(--space-400);
}

.nav__list {
  display: flex;
  gap: var(--space-400);
}

.nav__link {
  text-decoration: none;
  color: var(--clr-white);
}

.nav__link:hover {
  color: var(--clr-red);
}

/* Hide default checkbox */
.toggle__input {
  width: 0;
  height: 0;
  visibility: hidden;
}

/* Toggle button styles */
.toggle__button {
  /* Place checkbox and label side by side */
  display: inline-flex;
  align-items: center;
  width: var(--space-1700);
  height: var(--space-900);
  background-color: var(--clr-white);
  border-radius: var(--radius-3);
  position: relative;
  cursor: pointer;
  box-shadow: var(--shadow-1);
}

/* Label styles */
.toggle__label {
  width: 50%;
  text-align: center;
  font-size: var(--fs-600);
  color: var(--clr-black);
  z-index: 1;
}

.toggle__label:hover {
  color: var(--clr-red);
}

/* Slider styles */
.toggle__slider {
  width: var(--space-850);
  height: var(--space-850);
  position: absolute;
  top: var(--space-10);
  left: var(--space-20);
  background-color: var(--clr-blue);
  border-radius: var(--radius-circle);
  transition: left 0.3s;
  box-shadow: var(--shadow-3);
}

.toggle__input:checked + .toggle__button .toggle__slider {
  left: var(--space-900);
}

/* Main section styles */
.main {
  grid-column: 1 / -1;
  display: flex;
  padding: var(--space-400) 0;
}

/* Today's weather section styles */
.today {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.today__greeting {
  font-size: var(--fs-1100);
}

.today__conditions {
  max-width: 50%;
}

.today__weather {
  display: flex;
  align-items: center;
  gap: var(--space-100);
}

.today__degrees {
  font-size: var(--fs-temp);
}

.today__image-container {
  display: flex;
  justify-content: center;
}

.today__city {
  font-size: var(--fs-900);
}

.today__country {
  font-size: var(--fs-500);
}

/* Section for form, today's and 7 day forecast */
.forecast {
  flex: 1;
}

/* Search form styles */
.search {
  display: flex;
  gap: var(--space-400);
  margin-block-end: var(--space-200);
}

.form {
  width: 80%;
}

.form__label,
.form__error {
  display: block;
  font-size: var(--fs-500);
}

.form__container {
  display: flex;
}

.form__input {
  width: 70%;
  border: 1px solid var(--clr-white);
  border-radius: var(--radius-1) 0 0 var(--radius-1);
  padding: var(--space-80);
  font-size: 100%;
  background: transparent;
  color: var(--clr-white)
}

.form__input::placeholder {
  color: var(--clr-white);
}

.form__error {
  color: var(--clr-red);
}

/* Search button styles */
.button {
  width: 30%;
  border: 1px solid var(--clr-white);
  border-inline-start: transparent;
  border-radius: 0 var(--radius-1) var(--radius-1) 0;
  padding: var(--space-80);
  font-size: 100%;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Loading animation styles */
.animation {
  display: flex;
  align-items: flex-end;
}

/* Forecast styles */
.forecast__today,
.forecast__week {
  padding: var(--space-400) 0;
}

.forecast__today > *:not(:last-child),
.forecast__week > *:not(:last-child) {
  margin-block-end: var(--space-400);
}

.forecast__summary {
  text-transform: uppercase;
}

.forecast__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forecast__container {
  display: flex;
  gap: var(--space-80);
  align-items: center;
}

.forecast__day {
  width: 15%;
}

.forecast__image--week {
  width: 10%;
}

.forecast__value,
.forecast__min,
.forecast__max {
  font-size: var(--fs-600);
}

.forecast__temps {
  display: flex;
  gap: var(--space-400);
  align-items: center;
  width: 40%;
}

.forecast__bar {
  width: var(--space-2000);
  height: var(--space-40);
  background-color: var(--clr-white);
  border-radius: var(--radius-2);
}

/* Footer styles */
.footer {
  grid-area: footer;
  text-align: center;
  border-block-start: 1px solid var(--clr-white);
  padding-block-start: var(--space-200);
}

.footer__link {
  color: var(--clr-red);
  font-size: var(--fs-600);
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}
